HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
STRAPI_DISABLE_UPDATE_NOTIFICATION=true
STRAPI_TELEMETRY_DISABLED=true
FF_VERIFICATION_SIGN=tobemodified

#Database config
DATABASE_CLIENT=tobemodified
DATABASE_HOST=tobemodified
DATABASE_PORT=5432
DATABASE_NAME=tobemodified
DATABASE_USERNAME=tobemodified
DATABASE_PASSWORD=tobemodified
DATABASE_SSL=false

#S3 
AWS_ACCESS_KEY_ID=tobemodified
AWS_ACCESS_SECRET=tobemodified
AWS_REGION=tobemodified
AWS_BUCKET=tobemodified

#VERCEL
VERCEL_PLUGIN_ENABLED=tobemodified
VERCEL_DEPLOY_PLUGIN_HOOK=tobemodified
VERCEL_DEPLOY_PLUGIN_API_TOKEN=tobemodified
VERCEL_DEPLOY_PLUGIN_APP_FILTER=tobemodified